@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
}
/* Custom subtle scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d4be9b;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #dd3c57;
}

.fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
  opacity: 0;
  transform: translateY(20px);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
:root {
  --background: #f8f6f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #dd3c57;
  --color-primary-hover: #c22e47;
  --color-background: #f8f6f6;
  --color-text-main: #171212;
  --color-text-muted: #86656a;
  --color-gold-accent: #d4be9b;
  --font-display: var(--noto-serif), "serif";
  --font-sans: var(--noto-sans), "sans-serif";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #201214;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: serif;
}
